@import "tailwindcss";

@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

/* Color-Brand 1 : Heading , border color
  Color-Brand 2 : Button color
  Color- Primary : text color; 
  Color- primary-bg : Whole page background color;
  Color-second-bg: card background color. 
*/

@theme {
  --container-*: initial;
  --container-sm: 348px;
  --container-md: 704px;
  --container-lg: 1024px;
  --container-xl: 1664px;
  --font-primary: "Ubuntu", sans-serif;
  --font-second: "IBM Plex Mono", monospace;
  --color-primary: #fff;
  --color-brand-1: #12f7d6;
  --color-brand-2: #98faec;
  --color-primary-bg: #292f36;
  --color-second-bg: #1a1e23;
}

.nav-menu-social {
  @apply font-second font-normal text-[16px] text-primary leading-[20px] hover:text-brand-1;
}
.nav-list {
  @apply font-second font-normal text-primary text-[16px] lg:text-[24px] leading-[20px] lg:leading-[32px] hover:text-brand-1;
}
.pera-text {
  @apply font-second font-normal text-primary;
}
.tag-style {
  @apply font-second font-normal text-sm text-brand-2 leading-[18px];
}
.intro-text {
  @apply font-primary font-normal text-primary text-[64px] leading-[72px];
}
