@import "tailwindcss";

@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

@import "tw-animate-css";

@theme {
  @keyframes shine {
    0% {
      background-position: 200% 0;
    }

    100% {
      background-position: -200% 0;
    }
  }
  @keyframes scroll {
    0% {
      transform: translateY(0%);
    }
    100% {
      transform: translateY(-80%);
    }
  }
}

.project-art:hover .animate-scroll {
  animation: scroll 3s linear forwards;
}

.animate-shine {
  animation: shine linear infinite;
}

/* Color-Brand 1 : Heading , border color
  Color-Brand 2 : Button color
  Color- Primary : text color; 
  Color- primary-bg : Whole page background color;
  Color-second-bg: card background color. 
*/

@theme {
  --container-*: initial;
  --container-sm: 348px;
  --container-md: 704px;
  --container-lg: 1024px;
  --container-xl: 1664px;
  --font-primary: "Ubuntu", sans-serif;
  --font-second: "IBM Plex Mono", monospace;
  --color-primary: #fff;
  --color-brand-1: #12f7d6;
  --color-brand-2: #98faec;
  --color-primary-bg: #001d2f;
  --color-second-bg: #1a1e23;
}

.html {
  scroll-behavior: smooth;
}

section {
  @apply bg-[#001e2b];
}

.nav-menu-social {
  @apply font-second font-normal text-[16px] text-primary leading-[20px] hover:text-brand-1;
}
.nav-list {
  @apply font-second font-normal  text-[16px] lg:text-[24px] leading-[20px] lg:leading-[32px] hover:text-brand-1;
}
.pera-text {
  @apply font-second font-normal text-primary;
}
.tag-style {
  @apply font-second font-normal text-sm text-brand-2 leading-[18px];
}
.intro-text {
  @apply font-primary font-normal text-primary text-[32px] leading-[36px] md:text-[64px] md:leading-[72px];
}
.skill-icon {
  @apply w-16 h-16 text-primary duration-300 hover:scale-110;
}
.form-input-box {
  @apply outline-none font-second font-light text-primary text-[16px] leading-[24px] placeholder:font-primary placeholder:font-light placeholder:text-white/50  w-full py-4 px-3 border-1  border-brand-2/50 rounded-tr-2xl rounded-bl-2xl focus:border-2  focus:placeholder-transparent focus:bg-black/10 focus:shadow-lg;
}
